@import "../../Global.scss";

.twoTypesPrototyping {
    padding: $main_padding;
    margin-left: $main_margin;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 1rem;

    span{
        font-size: 3rem;
        font-weight: 300;
    }


    .image-wrapper {
        display: flex;
        gap: 2rem;

        img{
            width: 50%;
            height: 100%;
        }
    }

}