@import "../sass/Global.scss";

.aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: $main_y;

 
    .information_box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 60%;


        .title{
            font-size: 6rem;
        }

        .information{
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 2rem;
            width: 100%;
            letter-spacing: 1px;
        }
        
    }
}