@import "../sass/Global.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main_y;
    height: 50vh;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;


        .name_slogan {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: .6rem;

            img {
                width: 3rem;
                height: 3rem;
            }

            .names {
                display: flex;
                flex-direction: column;
                .name {
                    font-weight: bold;
                }

                .slogan {
                    font-weight: 300;
                }
            }
        }

        .information_wrapper {
            display: flex;
            gap: 2rem;

            .details {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                gap: 2rem;
                width: 20rem;



                .title {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .address {
                    font-size: 1.1rem;
                    font-weight: 300;
                    width: 60%;
                    letter-spacing: 1px;
                }
            }

            .quick_links {
                display: flex;
                flex-direction: column;

                gap: 2rem;

                .title {
                    font-size: 1.5rem;
                }

                a {
                    font-size: 1.1rem;
                    font-weight: 300;
                    text-decoration: underline;
                }
            }

            .sales {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 1.5rem;
                }

                .email {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                span {
                    font-size: 1.5rem;
                }
            }
        }
    }
}