@import "../sass/Global.scss";

.logInSignUp {
    display: flex;



    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0.55;
        height: 100vh;
        gap: 3rem;

        .name_slogan {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;
            gap: 2rem;


            img {
                width: 4rem;
                height: 4rem;
            }

            span {
                font-size: 2rem;
                font-weight: bold;
            }

        }


        .login-container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;



            h2 {
                margin-bottom: 30px;
                font-size: 2rem;
                font-weight: bold;
                color: #3d3d3d;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                display: flex;
                flex-direction: column;
                width: 70%;


                .form-group {
                    text-align: left;


                    label {
                        display: block;
                        margin-bottom: 5px;
                        font-size: 1rem;
                        font-weight: bold;
                        color: #3d3d3d;
                    }

                    input {
                        width: 100%;
                        height: 3.5rem;
                        padding: 1.5rem;
                        border: none;
                        border-radius: 5px;
                        font-size: 1rem;
                        color: #3d3d3d;
                        border: 1px black solid;

                        &:focus {
                            border-color: #2980b9;
                            outline: none;
                        }
                    }
                }

                .button {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;


                    button[type="submit"] {
                        transition: all 1s ease;

                        width: 100%;
                        height: 50px;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #fff;
                        background-color: $main_b;
                        border: 2px solid black;


                        &:hover{
                            background-color: $main_y;
                            color: $main_b;
                        }
                    }

                    span{
                        font-weight: 300;
                        a{
                            font-weight: bold;
                            color: $main_y;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .back {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 3.5rem;
            padding: 1rem;
            cursor: pointer;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0.45;
        height: 100vh;
        gap: 1rem;
        background-image: linear-gradient(to right top, #f4c1e0, #ffb3c9, #ffaa9d, #ffaf65, #ffc022);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;        

        .slogan {
            font-size: 3rem;
            color: $main_b;
            font-weight: 400;
        }

        img {
            width: 65%;
            height: 75%;
            border-radius: 40px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            
        }
    }

}