@import "../sass/Global.scss";


.modules {
    display: flex;
    height: 100%;
    
    
    


    .sideBar {
        display: flex;
        flex-direction: column;

        position: absolute;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $main_w;


        width: 14%;
        gap: 1rem;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 100%;

            img {
                width: 5rem;
                height: 5rem;
                cursor: pointer;
            }

            span {
                font-size: 1rem;
                font-weight: bold;
                color: $main_b;
            }
        }


        .modules {
            display: flex;
            flex-direction: column;
            width: 100%;

            a {
                font-size: 1rem;
                font-weight: 500;
                color: rgb(200, 195, 195);
                cursor: pointer;
                text-decoration: none;
            }

            .eachModule {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .5rem;

                height: 6rem;
                padding: 2rem;
                border-bottom: 1px solid rgb(209, 201, 201);
                



                span{
                    color: rgb(220, 220, 220);
                    font-weight: 400;
                }

                h1{
                    font-size: 1rem;
                    font-weight: 700;
                    color: rgb(220, 220, 220);

                }

                &.selected {
                    background-color: $main_y;
                    h1{
                        color: $main_b;
                        font-size: 1.3rem;
                    }

                    span{
                        color: $main_b;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}