@import "../sass/Global.scss";


.modules {
    display: flex;
    overflow: auto;
    
    
    
    





    .sideBar {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: $main_w;
        border-right: 1px solid rgb(212, 210, 210);
        background-color: rgb(251, 251, 251);
        

        width: 17%;
        gap: 1rem;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 100%;
            gap: .5rem;

            img {
                width: 4rem;
                height: 4rem;
                cursor: pointer;
            }

            span {
                color: $main_b;
                font-weight: bold;
            }
        }


        .modules {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid rgb(209, 201, 201);
            

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .5rem;
                
                cursor: pointer;
                text-decoration: none;
                border-radius: 20%;
                width: 70%;
                height: 7vh;


                .eachModule {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    
                    transition: all 1.2s ease;
                    padding-left: 10%;
                    width: 100%;
                    
                    
                    
                    .lock{
                        font-size: 1rem;
                        color: gray;
                    }
                    
                    h1 {
                        font-size: .9rem;
                        font-weight: 400;
                        color: rgb(174, 174, 174);
                    }

                    &.selected {
                        background-color: $main_y;
                        border-radius: 12px;
                        height: 7vh;
                        
                        h1 {
                            color: $main_b;       
                        }

                        .lock{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}