@import "../sass/Global.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    width: 100%;
    transition: all 0.5s ease;
    height: 18vh;



    .title {

        .name_slogan {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: .6rem;

            img {
                width: 3rem;
                height: 3rem;
            }

            .names {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: bold;
                }

                .slogan {
                    font-weight: 300;
                }
            }
        }
    }


    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;


        .bar-items {

            a {
                transition: all 1s ease;
                font-size: 1rem;
                font-weight: 400;
                text-decoration: none;
                color: $main_b;
            }

            .profile {
                font-size: 2rem;
            }

            button {
                transition: all 1s ease;
                padding: 1rem;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 10px;
                background-color: $main_y;
                border: 2px solid black;
            }

            &:hover {
                a {
                    color: rgb(152, 152, 152)
                }

                button {
                    background-color: $main_b;
                    color: $main_y;
                }
            }
        }
    }
}


@media screen and (max-width : 800px) {
    .right .hamburger {
        width: 3.2rem;
        height: 2.4rem;
    }

    .left {
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 3rem;
            }
        }


        .bar-items {
            display: none;
        }
    }
}