@import "../../Global.scss";


.quiz-container {
    padding: $main_padding;
    margin-left: $main_margin;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    background: #ffffff;
    border-radius: 4px;


    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .active-question-no {
            font-size: 2rem;
            font-weight: 500;
            color: $main_y;
        }

        .total-question {
            font-size: 1rem;
            font-weight: 500;
            color: #b0aeb1;
        }

        h2 {
            font-size: 1.7rem;
            font-weight: 500;
            margin: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            li {

                text-decoration: none;
                list-style: none;
                color: #2d264b;
                font-size: 1rem;
                background: #ffffff;
                border: 1px solid #eaeaea;
                border-radius: 16px;
                padding: 1.5rem;

                cursor: pointer;

                &.selected-answer {
                    background: #d6e7ff;
                    border: 1px solid $main_y;
                }
            }
        }

        button {
            transition: all 1s ease;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 10px;
            background-color: $main_b;
            border: 2px solid black;
            color: $main_w;
            width: 30%;


            &:hover {
                background: #d6e7ff;
                color: $main_b;
            }

            &:disabled {
                background: #e7e8e9;
                color: #9fa3a9;
                cursor: not-allowed;
                border: none;
            }
        }

        .flex-right {
            display: flex;
            justify-content: flex-end;
        }
    }

    .result .result-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        p {
            font-size: 4rem;
            font-weight: 300;
            color: rgb(154, 34, 34);

            span {
                color: #800080;
                font-size: 22px;
            }
        }

        button {
            transition: all 1s ease;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 10px;
            background-color: $main_b;
            border: 2px solid black;
            color: $main_w;
            width: 30%;


            &:hover {
                background: #d6e7ff;
                color: $main_b;
            }
        }
    }
}