@import "../../Global.scss";

.sixThinkingHats {
    padding: $main_padding;
    margin-left: $main_margin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    height: 100vh;


    p{
        font-size: 2rem;
        font-weight: 300;
    }

    h1{
        font-size: 4rem;  
    }

    span{
        gap: 1rem;
        font-size: 3rem;
        font-weight: 400;
        h1{
            font-size: 3rem;
            color: $main_y;
            display: inline;
        }
    }
}