.next {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5rem;
    cursor: pointer;
    padding: 1rem;

}

.back {
    position: absolute;
    top: 0;
    left: 17%;
    font-size: 5rem;
    cursor: pointer;
    padding: 1rem;
}