@import "Global.scss";

.infoWithImageOnSide {

    padding: $main_padding;
    margin-left: $main_margin;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;

    h1 {
        font-size: 3rem;
    }


    .information-wrapper {
        display: flex;
        gap: 1rem;
        height: 100%;


        .img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0.6;

            img {
                width: 90%;
                height: 80%;
                border-radius: 10px;
            }
        }

        .nbrs {
            display: flex;
            flex: 0.5;
            flex-direction: column;
            gap: 2rem;


            h2 {
                font-size: 2rem;
                color: $main_y;
            }

            ul {

                display: flex;
                flex-direction: column;
                gap: 1rem;
                line-height: 2rem;

                li {
                    font-size: 1.5rem;
                    list-style-type: circle;
                    font-weight: 300;
                    margin-left: 10%;
                }
            }
        }


    }
}