@import "../../Global.scss";

.empathyMapTask {
    padding: $main_padding;
    margin-left: $main_margin;

    display: flex;

    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    gap: 1.5rem;


    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: $main_y;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
            font-size: 1.5rem;
            list-style-type: circle;
            font-weight: 300;
            margin-left: 10%;
        }
    }

    textarea {
        width: 90%;
        padding: 1rem;
        font-size: 1rem;
        border: solid 1px rgb(178, 178, 178);
        border-radius: 20px;
        height: 12.5rem;

    }

    button {
        transition: all 1s ease;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        background-color: $main_b;
        border: 2px solid black;
        color: $main_w;
        width: 30%;


        &:hover {
            background-color: $main_y;
            color: $main_b;
        }
    }
}