@import "../../Global.scss";

.startingEmpathyMap {
    padding: $main_padding;
    margin-left: $main_margin;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;

    h1 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 3rem;
    }

    button {
        transition: all 1s ease;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        background-color: $main_b;
        border: 2px solid black;
        color: $main_w;
        width: 30%;


        &:hover {
            background-color: $main_y;
            color: $main_b;
        }
    }
}