@import "../../Global.scss";

.m0 {
    height: 100vh;
    display: flex;


    .wrapper {
        margin-left: $main_margin;
        display: flex;




        .left {
            flex: 0.6;
            display: flex;
            justify-content: center;
            flex-direction: column;
            

            .left-wrapper {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                padding: 5rem;
                

                span {
                    font-size: 2rem;
                    font-weight: 300;
                }

                h1 {
                    font-size: 4rem;
                    z-index: 3;
                    font-weight: 500;
                }


                button {
                    transition: all 1s ease;
                    padding: 1rem;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: $main_b;
                    border: 2px solid black;
                    color: $main_w;
                    width: 30%;


                    &:hover {
                        background-color: $main_y;
                        color: $main_b;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0.4;

            img {
                width: 90%;
                height: 90%;
                border-radius: 50px;
            }
        }
    }
}