@import "../../Global.scss";


.questions {
    display: flex;
    flex-direction: column;
    padding: $main_padding;
    margin-left: $main_margin;
    gap: 1rem;
    max-height: 120vh;
    overflow: auto;

    .title {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h1 {
            font-size: 5rem;
        }

        span {
            font-size: 2rem;
            font-weight: 300;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;


        .each-question-div {

            .questions-div {
                width: 100%;
                background-color: $main_y;
                padding: 1rem;

                span {
                    font-size: 1.25rem;
                }
            }

            textarea {
                width: 100%;
                height: 10rem;
                padding: 1rem;
                font-size: 1rem;
                border: none;
            }
        }
    }

    .end {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        button {
            transition: all 1s ease;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 10px;
            background-color: $main_b;
            border: 2px solid black;
            color: $main_w;
            width: 30%;


            &:hover {
                background-color: $main_y;
                color: $main_b;
            }
        }

        h1 {
            font-size: 3rem;
        }
    }

    .back {
        position: absolute;
        top: 0;
        left: 17%;
        font-size: 2.5rem;
        cursor: pointer;
    }
}